body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100px;
}

.seccionizq nav{
    width: 100%;
    border-right : solid rgb(228, 163, 214);
}

.seccionizq nav img.logo{
    width: 160px;

}

.seccionizq nav .funciones .opciones{
display:flex; 
flex-direction: column;
}

.seccionizq nav .funciones .opciones a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.seccionizq nav .funciones .opciones a box-icon{
    margin: 0 10px 0 0;
}

.seccionizq{
    grid-column: 1/3;
    padding: 20px;

}
.seccionizq nav .funciones .opciones a img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

.seccionemd{
    grid-column: 3/8;

}
.seccionemd .stories{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 18px 0 0 0;


}
.seccionemd .stories .amigo img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-style: solid; color: rgb(226, 43, 226);

}
.seccionemd .stories .amigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.seccionemd .publicaciones .publicacion{
  padding: 0 40px; 
  margin: 20px;
  

}
.seccionemd .publicaciones .publicacion .encabezado{
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
    justify-content: space-between;
} 
.seccionemd .publicaciones .publicacion .encabezado img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 20px 0 0;
}
.seccionemd .publicaciones .publicacion .cuerpo img{
    width: 100%;
}
.seccionemd .publicaciones .publicacion .funciones box-icon{
    margin: 0 0 0 15px;
    justify-content: flex-start;
}
.seccionemd .publicaciones .publicacion .encabezado .infousuario{
 display: flex;
    flex-direction: row;

}
.seccionemd .publicaciones .publicacion .encabezado .funcionesizq{
    display: flex;
    flex-direction: row;
}
.seccionemd .publicaciones .publicacion .funciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.secciondrc  img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 20px 0 0;

}
.secciondrc .miperfil{
   display: flex;
   flex-direction: row; 
   padding: 26px;
   justify-content: space-between;
}
.secciondrc{
    grid-column: 8/10;
    padding: 10px 60px  0;
    
    
}
.secciondrc .miperfil .miperfilizq{
    display: flex;
    flex-direction: row;
}

.secciondrc .miperfil .miperfilizq .miperfiltxt p{
    margin: 0;
    padding: 0;
}
.secciondrc .sugerencias{
    margin-top: 10px;
}
.secciondrc .sugerencias .sugerencia1 .suge{
    display: flex;
    flex-direction: row;
}
.secciondrc .sugerencias .sugerencia1 .suge .sugetext p{
    margin: 0;

}
.chico{
    font-size: 12px;
}
.azul{
    color: aqua;
}